:host {
  display: block;
  padding: 1rem;
  background-color: rgb(255, 245, 187);
}

h2 {
  margin: 0;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/